body {
    background-color: rgb(192, 191, 191);
    text-align: left;
    margin-left: 50px;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 97, 167);
}
em {
    color: red;
}

ol, footer, a{
    color: rgb(11, 97, 167);
    font-family: 'Lato', sans-serif;
}

#vector-image {
    width: 600px;
    height: 600px;
}